.background-h1 {
  background-color: #f6ff00;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
}

.background-red {
    background-color: #ff0000;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
  }

  .background-green {
    background-color: #00ff1a;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
  }